/* browser */

#browser {
    --themeTransition: 0.5s;
    --themeSpacing: 3px;
    --themeRadius: 14px;
    --themeRadiusHalf: 7px;
}

#browser:not(.fullscreen) {
    padding: var(--themeSpacing) !important;
}

/* header */

#header {
    background-color: transparent !important;
    border-top-left-radius: var(--themeRadius) !important;
    border-top-right-radius: var(--themeRadius) !important;
    transition: background-color var(--themeTransition), border-color var(--themeTransition), color var(--themeTransition) !important;
}

#browser:not(.address-top) #header {
    box-shadow: unset !important;
}

#header #tabs-tabbar-container {
    background-color: transparent !important;
}

/* tabs */

#tabs-tabbar-container {
    border-bottom-width: 0px !important;
    background-color: var(--colorBgAlphaBlur) !important;
}

.tab:not(.active) {
    border-radius: var(--themeRadiusHalf) !important;
}

.tabs-left .tabbar-wrapper {
    border-radius: var(--themeRadius) !important;
    overflow: hidden !important;
    margin-right: var(--themeSpacing) !important;
}

.tabs-right .tabbar-wrapper {
    border-radius: var(--themeRadius) !important;
    overflow: hidden !important;
    margin-left: var(--themeSpacing) !important;
}

.tabs-bottom .tabbar-wrapper {
    border-radius: var(--themeRadius) !important;
    overflow: hidden !important;
    margin-top: var(--themeSpacing) !important;
    margin-left: var(--themeSpacing) !important;
    margin-right: var(--themeSpacing) !important;
}

.tabs-top #tabs-tabbar-container .button-toolbar,
.tabs-top #tabs-tabbar-container button {
    color: var(--colorImageCenterFg) !important;
}

.tabs-bottom #tabs-tabbar-container {
    border-top-width: 0px !important;
    padding-bottom: 6px !important;
}

/* main */

#browser:not(.fullscreen) #main {
    border-top-left-radius: var(--themeRadius) !important;
    border-top-right-radius: var(--themeRadius) !important;
    overflow: hidden;
}

/* mainbar */

.mainbar {
    background-color: var(--colorAccentBg) !important;
    color: var(--colorAccentFg) !important;
    border-width: 0 !important;
    transition: background-color var(--themeTransition), border-color var(--themeTransition), color var(--themeTransition) !important;
}

.UrlBar-AddressField {
    background-color: var(--colorAccentBgFaded) !important;
    color: var(--colorAccentFg) !important;
    border: none !important;
}

.UrlBar-AddressField:focus-within {
    outline-offset: unset !important;
}

.pageload-indicator {
    opacity: 0 !important;
}

.pageload-ticker {
    color: var(--colorAccentFgFaded) !important;
}

/* bookmark bar */

.bookmark-bar {
    border: unset !important;
    background-color: var(--colorAccentBg) !important;
    transition: background-color var(--themeTransition), border-color var(--themeTransition), color var(--themeTransition) !important;
    padding-left: var(--themeSpacing) !important;
    padding-right: var(--themeSpacing) !important;
}

.bookmark-bar-top .bookmark-bar {
    padding-bottom: var(--themeSpacing) !important;
}

.bookmark-bar-bottom .bookmark-bar {
    padding-top: var(--themeSpacing) !important;
}

.bookmark-bar .observer {
    justify-content: center !important;
}

.bookmark-bar button {
    background-color: var(--colorAccentBgFaded) !important;
    color: var(--colorAccentFg) !important;
    transition: background-color var(--themeTransition), border-color var(--themeTransition), color var(--themeTransition) !important;
}

.bookmark-bar button:nth-child(1) {
    border-top-left-radius: var(--radius) !important;
    border-bottom-left-radius: var(--radius) !important;
}

.bookmark-bar button:nth-last-child(2) {
    border-top-right-radius: var(--radius) !important;
    border-bottom-right-radius: var(--radius) !important;
}

.bookmark-bar button.chevron {
    border-radius: var(--radius) !important;
}

/* inner */

.inner {
    background-color: var(--colorAccentBg) !important;
    transition: background-color var(--themeTransition), border-color var(--themeTransition), color var(--themeTransition) !important;
}

#browser:not(.fullscreen) #main.left .inner:not(:has(.webpageview.active .startpage)) {
    padding-right: var(--themeSpacing) !important;
}

#browser:not(.fullscreen) #main.right .inner:not(:has(.webpageview.active .startpage)) {
    padding-left: var(--themeSpacing) !important;
}

#browser:not(.fullscreen).address-bottom .inner {
    padding-top: var(--themeSpacing) !important;
}

.inner:has(.webpageview.active .startpage) {
    background-color: unset !important;
}

#browser:not(:has(footer div)) .inner {
    border-bottom-left-radius: var(--themeRadius) !important;
    border-bottom-right-radius: var(--themeRadius) !important;
    overflow: hidden !important;
    padding-bottom: var(--themeSpacing) !important;
}

/* panels */

#panels-container {
    background-color: var(--colorAccentBg) !important;
    color: var(--colorAccentFg) !important;
    border: none !important;
    transition: background-color var(--themeTransition), border-color var(--themeTransition), color var(--themeTransition), width var(--themeTransition) !important;
}

.panel-group {
    border-width: 0px !important;
    border-radius: var(--themeRadius) !important;
    background-color: var(--colorBgAlphaBlur) !important;
}

#panels-container:not(.overlay) .panel-group,
#panels-container:not(.overlay) .panel-group .cardview:not(:hover),
#panels-container:not(.overlay) .panel-group .bookmark {
    color: var(--colorAccentFg) !important;
}

#panels-container:not(.overlay) .panel-group .description {
    color: var(--colorAccentFgFaded) !important;
}

#panels-container:not(.overlay) .panel-group .button-toolbar {
    color: var(--colorFg) !important;
}

#panels-container.left:after {
    content: '' !important;
    position: absolute !important;
    width: var(--themeRadius) !important;
    height: var(--themeRadius) !important;
    background-color: inherit !important;
    transform: rotate(90deg) !important;
    mask-image: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 75%, #000 73%) !important;
    bottom: 0 !important;
    right: calc(-3px - var(--themeRadius)) !important;
}

#panels-container.left {
    border-right: solid var(--themeSpacing) var(--colorAccentBg) !important;
}

#panels-container.right {
    border-left: solid var(--themeSpacing) var(--colorAccentBg) !important;
}

#panels-container .webpanel-header {
    box-shadow: unset !important;
}

#panels-container webview {
    overflow: hidden;
    border-radius: var(--themeRadius);
    margin-left: var(--themeSpacing);
    margin-right: var(--themeSpacing);
}

#panels #switch .button-toolbar {
    transition: none !important;
}

#panels #switch .button-toolbar:not(.toolbar-spacer-flexible):hover {
    background-color: var(--colorAccentFg) !important;
    color: var(--colorAccentBg) !important;
}

#panels #switch .button-toolbar.active {
    background-color: var(--colorAccentFg) !important;
    color: var(--colorAccentBg) !important;
}

#session-panel footer {
    margin-bottom: var(--themeSpacing) !important;
    border-radius: var(--themeRadius) !important;
    border-width: 0px !important;
    display: flex;
    justify-content: center;
}

#switch {
    border-radius: var(--themeRadius) !important;
    backdrop-filter: unset !important;
}

/* webpage */

.webpageview.active {
    border-radius: var(--themeRadius) !important;
    overflow: hidden !important;
}

.fullscreen .webpageview.active,
.webpageview.active:has(.startpage) {
    border-radius: 0px !important;
}

/* startpage */

.webpageview.active:has(.startpage) .startpage-navigation {
    background-color: var(--colorAccentBg) !important;
    border-bottom-right-radius: var(--themeRadius) !important;
    box-shadow: unset !important;
    min-height: unset !important;
    padding-bottom: var(--themeSpacing) !important;
}

#browser:has(#panels-container.right) .webpageview.active:has(.startpage) .startpage-navigation {
    border-bottom-right-radius: 0px !important;
}

.webpageview.active:has(.startpage) .startpage-navigation:after {
    content: '';
    position: absolute;
    width: var(--themeRadius);
    height: var(--themeRadius);
    background-color: inherit;
    transform: rotate(-90deg);
    mask-image: radial-gradient(circle at 0 100%, rgba(0, 0, 0, 0) 70%, #000 73%);
    bottom: calc(0px - var(--themeRadius));
    left: 0;
}

.webpageview.active:has(.startpage) .manager {
    margin-top: var(--themeSpacing) !important;
    margin-left: var(--themeSpacing) !important;
    margin-bottom: var(--themeSpacing) !important;
    border-radius: var(--themeRadius) !important;
    overflow: hidden;
}

/* footer */

footer {
    background-color: var(--colorAccentBg) !important;
    color: var(--colorAccentFg) !important;
    border-bottom-left-radius: var(--themeRadius);
    border-bottom-right-radius: var(--themeRadius);
    overflow: hidden !important;
    transition: background-color var(--themeTransition), border-color var(--themeTransition), color var(--themeTransition) !important;
}

footer::after {
    background-color: transparent !important;
}

#browser:has(.webpageview.active .startpage) footer {
    border-top-right-radius: var(--themeRadius) !important;
}

/* vivaldi button */

button.vivaldi {
    display: none !important;
}

#tabs-container {
    padding-left: 0px !important;
}

/* mail */

#mail_view {
    background-color: var(--colorAccentBg) !important;
    gap: var(--themeSpacing) !important;
    padding-right: var(--themeSpacing) !important;
}

#mail_search {
    border-radius: var(--themeRadius) !important;
    overflow: hidden !important;
}

#mail_detail {
    border-radius: var(--themeRadius) !important;
    overflow: hidden !important;
}

/* capture area */

#capture-area {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

/* blurred elements */

.OmniDropdown,
.modal-wrapper,
.startpage-navigation,
.SpeedDial-Blocked-Counter,
.dial {
    background-color: var(--colorBgAlphaBlur) !important;
    backdrop-filter: var(--backgroundBlur) !important;
}
